<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/zocial.css" />
    <link href="stylesheets/mycss.css" rel="stylesheet">
  </head>
  <body background="http://3.bp.blogspot.com/-jx7k-1v6fdQ/ULYtvIKWY5I/AAAAAAAAJO4/Afp-lT7vMqg/s1600/Lovers+In+Park+HD+Wallpaper.jpg">
      <div class="main_box" align="center"> 
        <h1><font color = "white">Join us with your Google+ account!</h1>
          <div class="">
            <a href="friends.html" class="zocial googleplus">Sign in with Google+</a>
          </div>
          <div class="" align="right">
										 <!-- Place this tag where you want the +1 button to render. -->
						<div class="g-plusone" data-annotation="inline" data-width="300"></div>

						<!-- Place this tag after the last +1 button tag. -->
						<script type="text/javascript">
							(function() {
								var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
								po.src = 'https://apis.google.com/js/plusone.js';
								var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
							})();
						</script>
          </div>  
       </div> 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    
    
  </body>
  
  
</html>
