<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/mycss.css" rel="stylesheet">
  </head>
  <body background="http://3.bp.blogspot.com/-jx7k-1v6fdQ/ULYtvIKWY5I/AAAAAAAAJO4/Afp-lT7vMqg/s1600/Lovers+In+Park+HD+Wallpaper.jpg">
      <div class="main_box" align="center"> 
        <h1><font color = "white">Join us with your Google+ account!</h1>
          <div class="">
            <a class="btn btn-large btn-success" href="#">Sign up today</a>
          </div>  
       </div> 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>