.main_box {
	border-style: solid;
	margin-top: 17%;
	text-shadow: -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px black;
}

.list_photos {
	margin-top:5%;
}

/* Create dialogs without title bar */
.ui-dialog-no-titlebar .ui-dialog-titlebar {
display: none;
}

